<h1>Books</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Bpdy</th>
    </tr>
  </thead>

  <tbody>
    <% @bookers.each do |booker| %>
    <tr>
      <td><%= booker.title %></td>
      <td><%= booker.body %></td>
      <td><%= link_to "Show", booker_path(booker.id) %></td>
      <td><%= link_to "Edit", edit_booker_path(booker.id) %></td>
      <td><%= link_to "Destroy", destroy_booker_path(booker.id), method: :delete, "data-confirm" => "Are you sure?" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1>New book</h1>

<%= form_with model: @booker do |f| %>
  <h1>Title</h1>
  <%= f.text_field :title %>

  <h1>Body</h1>
  <%= f.text_area :body %>

  <%= f.submit 'Creat Book' %>
<% end %>
