<h1>Books</h1>

<% @bookers.each do |booker| %>

  <p>title</p>
  <span><%= booker.title %></span>

  <p>body</p>
  <span><%= booker.body %></span>

  <%= link_to "Show", booker_path(booker.id) %>

  <%= link_to "Edit", edit_booker_path(booker.id) %>

  <%= link_to "Destroy", destroy_booker_path(@booker.id), method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>
