<div>
  <%= flash[:notice] %>
</div>

<h1>Title:</h1>
<p><%= @booker.title %></p>

<h1>Body:</h1>
<p><%= @booker.body %></p>

<%= link_to "Edit", edit_booker_path(@booker.id) %>
<%= link_to "Back", "/bookers/index" %>